# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3  # Ignore SQLite database files
/.sqlite3
db.sqlite3
.db.sqlite3

# ENV files
.env

# Virtual environment
venv/
.env/

# Editor specific files
*.sublime-project
*.sublime-workspace
.idea/
.vscode/

# Ignore migrations and other cached files
*/migrations/*
db.sqlite3
XpertAi/__pycache__/views.cpython-312.pyc
db.sqlite3
