{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid h-100 w-100" style="padding-right: 0; padding-left: 0;">
    <div class="row h-100" style="margin-right: 0; margin-left: 0;">
        <div class="col-12 d-flex flex-column" style="padding-right: 0; padding-left: 0;">
            <div class="chat-area flex-grow-1 overflow-auto">
                <div id="messages"></div>
                <img id="loading" src="{% static 'logoClear.png' %}" alt="Loading..." class="loading-icon hidden" />
            </div>
            <div class="input-area">
                <form id="chat-form" class="input-group">
                    <textarea id="user-input" class="form-control" rows="1" placeholder="Type your message..." required></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-primary" style="background-color: #34495e; border-color: #34495e;" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
